<div class="container text-center mt-5">
    <h1 class="display-4 fw-bold text-primary">Your Car, Your Way</h1>
    <h4 class="text-secondary mb-4">Cliquez sur le bouton ci-dessous pour accéder au chat.</h4>
  
    <!-- Mise en place des boutons sur la même ligne avec flex -->
    <div class="d-flex justify-content-center gap-3">
      <button (click)="supportClient(1)" type="button" class="btn btn-primary btn-lg shadow-lg">
        Espace client
      </button>
      <button (click)="supportClient(2)" type="button" class="btn btn-info btn-md shadow-sm">
        Espace service client
      </button>
    </div>
  </div>
  