<div class="container">
  <div class="chat_window shadow-lg rounded">
    <!-- Barre supérieure avec le nom et l'image -->
    <div class="top_menu bg-success text-white p-3 d-flex justify-content-between align-items-center">
      <div class="title fw-bold">
        Your Car Your Way's service
      </div>
      <div class="logo">
        <img src="../../../assets/logo.png" width="50px" height="50px" alt="Logo" class="rounded-circle">
      </div>
    </div>

    <!-- Liste des messages -->
    <ul class="messages p-3" style="height: 500px; overflow-y: auto; list-style-type: none; padding: 0;">
      <li class="message" *ngFor="let message of chatMessages"
        [ngClass]="{'left': message.messageSide === 'sender', 'right': message.messageSide === 'receiver'}">
        <div
          [ngClass]="{'d-flex': message.messageSide === 'sender', 'd-flex flex-row-reverse': message.messageSide === 'receiver'}">
          <div class="avatar bg-secondary rounded-circle me-2"></div>
          <div [ngClass]="{'text_wrapper p-2 rounded sender-message': message.messageSide === 'sender',
                           'text_wrapper p-2 rounded receiver-message': message.messageSide === 'receiver'}">
            <div class="text">{{ message.message }}</div>
          </div>
        </div>
      </li>
    </ul>

    <!-- Barre d'envoi de message -->
    <div class="bottom_wrapper p-2 d-flex align-items-center bg-light">
      <div class="message_input_wrapper flex-grow-1 me-3">
        <input class="message_input form-control border-0" placeholder="Écrivez un message" [(ngModel)]="inputMessage"
          (keyup.enter)="sendChatMessage()" style="border-radius: 20px; background-color: #f0f0f0; padding: 10px;" />
      </div>
      <div class="send_message btn btn-success d-flex align-items-center px-3 py-2" (click)="sendChatMessage()"
        style="border-radius: 50%;">
        <i class="bi bi-send-fill" style="font-size: 20px; color: white;"></i>
      </div>
    </div>
  </div>
</div>